body{
    background:#37474f;
    font-family: 'Oswald', sans-serif;

}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.table {
    width: 50%
}
.darkBack{
    background:#263238;
}
.darkColor{
    color:#37474f;
}
.accentBack{
    background:#00e676;
}
.accentColor{
    border-color: #00e676;
    color:#00e676;
}
.lightColor{
    color:#e8f5e9;
}
.greyColor{
    color:#90a4ae;
}
.bold{
    font-weight: bold;
}
.footer{
    height:100px;
    margin-top:30px;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
#trailListings{
    margin-top:100px;
}

#trailListings .col-md-3{
    border-width:2px;
    border-style:solid;
    height:575px;
    margin:10px;
}
.btn{
    position:absolute;
    bottom:20px;
    padding:10px;
    font-size:20px;
    width:80%;
    left:10%;
    border:none;
    text-shadow: none;
    border-radius: 25px;
}
#trailListings h1{
    margin:20px 0;
    font-size: 50px;
}
#trailListings p{
    height:180px;
    overflow:hidden;
}
#trailListings ul{
    height:60px;
    overflow:hidden;
    margin-bottom:0;
}
#trailListings .viewmore{
    float:right;
    margin-right:10px;
    cursor:pointer;
}
#trailListings .viewmore:active{
    text-decoration:none;
}
#trailListings .viewmore:hover{
    text-decoration:none;
    color:#e8f5e9;
}
#trailListings .statsTitle{
    margin-top:50px;
    text-align: center;
}
#trailListings h2{
    text-transform: capitalize ;
    min-height:66px;
    max-height: 66px;
overflow: hidden;
}
#trailListings .moreInfo{
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
    text-align: center;
    position:fixed;
    margin:auto;
    top:0;
    left:0;
    z-index:1;
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
    padding:100px;
}
#trailListings .moreInfo ul{
    text-align: left;
    display: inline-block;
    width:350px;
    font-size:20px;
}
#trailListings .moreInfo h3{
    font-size:30px;
}
#trailListings .moreInfo ul{
    height:auto;
}
#trailListings .moreInfo:before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,1);
    z-index: -1;
}

#weather{
    height:75px;
    margin:10px 0;
    cursor:pointer;
}
#weather .overlay{
    content:"";
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:400;
    background:rgba(0,0,0,.8);
    opacity:0;
    visibility:hidden;
        transition:opacity .3s, visibility .3s;
}
#weather.active .overlay{

    opacity:1;
    visibility:visible;

}
#weather .overlay .row-centered{
    margin-top:30%;

}
#weather h3{
    position:absolute;
    top:-5px;
    left:55px;
}
#weather h3:after{
    content:"\00b0 F"
}
.wi{
    font-size:30px;
    position:absolute;
    top:15px;
    left:15px;
}
#weather h4{
    margin-top:50px;
    margin-left:20px;
}


.site-wrapper{
    position:fixed;
    display:table;
    width:100%;
    height:100%;
    background: url('../images/bg.jpg');
    background-size: cover;
    background-position: 50% 50%;
}
.site-wrapper:before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,.7);
    z-index:0;
}

.site-wrapper-inner{
    text-align: center;
    display:table-cell;
    vertical-align: middle;
}
.cover-container{
    width:80%;
    margin:auto;
}

#search input{
    width:100%;
    background:#90a4ae;
    padding:10px 20px;
    font-size:30px;
    border:none;
    transition:background .3s, color .3s;
}
#search input + label{
    position: absolute;
    left:0;
    top:0;
    padding:18px 30px;
    font-size:20px;
    transition:top .3s, color .3s;
}
#search input.input--active{
    border:4px solid #00e676;
    color:#e8f5e9;
    background:transparent;
}
#search input.input--active + label{
    top:-50px;
    color:#00e676;
}

#search .btn{
    display:inline-block;
    position:relative;
    margin-top:75px;
    border-radius:70px;
    width:240px;
    padding:15px;
    font-size:25px;
    left:0;
    font-weight:bold;
}
.btn.loading{
    width:65px !important;
    transition:width .3s;
    background:url("../images/ring.gif");
    background-size:cover;
    background-position:50% 50%;
    background-color:#00e676;
    overflow:hidden;
    color:#00e676;
}



.logo {
    margin-left:40px;
    z-index:2;

    font-family: 'Permanent Marker', cursive;
    color:#e8f5e9;
    font-size:40px;
    text-decoration:none;
}
.logo:hover, .logo:active{
    text-decoration:none;
    color:#e8f5e9;
}
.logo span{
    color:#00e676;
}

#search .logo{

    position:relative;
    font-size:90px;
    padding-bottom:40px;

}




.trailresults td:first-child{
    width:35px;
    height:35px;
}
.duplicate{

    background:url("../images/warning.png");
    background-size: 30px 30px;
    background-position:50% 50%;
}
.trailresults td{
    max-width:80px;
    height:35px;

}
.trailresults td a{
    text-decoration: none;
    transition: color .3s;
    cursor:pointer;
}
.trailresults td a:hover{
    color:#00e676;
}
.trailresults tr{
    border-bottom:1px solid #e8f5e9;
    color:#90a4ae;
}



.trailresults{
    width:80%;
    margin-left:10%;
}
.trailresults thead{
    border-bottom:4px solid #00e676;
    font-size:20px;
}
.trailresults thead td{
    padding:5px 0;
}
