{% extends 'trailHQ/base.html' %}


{% block content %}
    <div class="header">
        <h1>{{ area }}, {{ state }} </h1>
    </div>
    <div class="weather">
        {% for k in weather %}
            {{k}}

        {%endfor%}
    </div>
    <div id="MtbProject">
        <iframe style="width:100%; max-width:1200px; height:410px;" frameborder="0" scrolling="no" src="https://www.mtbproject.com/widget?v=3&map=1&type=trail&id=346657"></iframe>
    </div>
    <h1> Made it here!</h1>
    <table>
        {% for dict in results %}
        <div class="Trail">

            <table class="TrailResults">

                <thead>{{dict.SingleTracks}}</thead>

                {% if dict.duplicates %}
                    {% if dict.TrailForks is not None %}
                        <tr class="dupIDTF"><td>TrailForks had duplicates</td></tr>
                        {% for trail in dict.TrailForks %}
                            <tr class="TFDup"><td><a href="{% url 'trail_detail' pk=dict.key %}">{{ trail }}</td></tr>
                        {% endfor %}



                    {% endif %}

                    {% if dict.MtbProject is not None %}

                        <tr class="dupIDMP"><td>Mtb Project returned more than one result</td></tr>
                        {% for trail in dict.MtbProject %}
                            <tr class="MPDup"><td><a href="{% url 'trail_detail' pk=dict.key %}">{{ trail }}</td></tr>
                        {% endfor %}

                    {% endif %}
                    {% if dict.TFArea is not None %}

                        <tr class="dupIDTA"><td>TrailForks Area returned more than one result</td></tr>
                        {% for trail in dict.TFArea %}
                            <tr class="TADup"><td><a href="{% url 'trail_detail' pk=dict.key %}"></a> {{ trail }}</td></tr>
                        {% endfor %}


                    {% endif %}

                {% else %}
                    {% if dict.TrailForks is not None %}
                        <tr class="TFSin"><td><a href="{% url 'trail_detail' pk=dict.key %}">{{dict.TrailForks}}</td></tr>
                    {% endif %}
                    {% if dict.MtbProject is not None %}
                        <tr class="MPSin"><td><a href="{% url 'trail_detail' pk=dict.key %}">{{dict.MtbProject}}</td></tr>
                    {% endif %}
                    {% if dict.TFArea is not None %}
                        <tr class="TASin"><td><a href="{% url 'trail_detail' pk=dictkey %}">{{dict.TFArea}}</td></tr>
                    {% endif %}
                {% endif %}

            </table>

        </div>
        {%endfor%}

    </table>
{% endblock %}

