{% extends 'trailHQ/base.html' %}

{% block content %}

    <div id="trailListings" class="container">
        <div class="row-centered">
            <h1 class="col-sm-9 col-centered lightColor bold" >{{ST.name}}</h1>
        </div>

        <div class="row-centered">
            <div id="weather" class="col-sm-7 col-centered accentBack">Weather stuff</div>
        </div>

        <div class="row row-centered">
            <div class="col-md-3 col-centered accentColor">
                <h2 class="lightColor bold">{{ST.name}}</h2>
                <p class="greyColor">{{ ST.description }}</p>
                <a class="greyColor viewmore">...</a>
                <h3 class="statsTitle greyColor">Trail Stats</h3>
                <ul>
                    <li>Difficulty: {{ST.difficulty}}</li>
                    <li>Length: {{ ST.length }}</li>
                </ul>
                <a class="greyColor viewmore">view more</a>
                <a href="{{ ST.url }}" class="btn btn-default accentBack lightColor bold">SingleTracks</a>


                <div class="moreInfo col-lg-12">
                    <h2 class="lightColor bold">{{ST.name}}</h2>
                    <p class="greyColor">{{ ST.description }}</p>
                    <h3 class="statsTitle lightColor">Trail Stats</h3>
                    <ul class="greyColor">
                        <li>Difficulty: {{ST.difficulty}}</li>
                        <li>Length: {{ ST.length }}</li>
                    </ul>
                </div>
            </div>



            {% if TF %}
                {% for dict in TF %}
                <div class="col-md-3 col-centered accentColor">
                    <h2 class="lightColor bold">{{ dict.TFName }}</h2>
                    <p class="greyColor">{{ dict.TFTDesc }}</p>
                    <a class="greyColor viewmore">...</a>
                    <h3 class="statsTitle greyColor">Trail Stats</h3>
                    <ul>
                        <li>Difficulty: {{ dict.TFTDiff }}</li>
                        <li>Length: {{ dict.TFTLength }}</li>
                        <li>Descent: {{ dict.TFTDescent }}</li>
                        <li>Ascent: {{ dict.TFTClimb }}</li>
                        <li>Area: {{ dict.TFTArea }}</li>
                        <li>Last Report: {{ dict.TFTRepor }}</li>
                    </ul>
                    <a class="greyColor viewmore">view more</a>
                    <a href="{{dict.url}}" class="btn btn-default accentBack lightColor bold">TrailForks</a>

                    <div class="moreInfo col-lg-12">
                        <h2 class="lightColor bold">{{ dict.TFName }}</h2>
                         <p class="statsTitle lightColor">{{ dict.TFTDesc }}</p>
                        <h3 class="statsTitle greyColor">Trail Stats</h3>
                        <ul>
                            <li>Difficulty: {{ dict.TFTDiff }}</li>
                            <li>Length: {{ dict.TFTLength }}</li>
                            <li>Descent: {{ dict.TFTDescent }}</li>
                            <li>Climb: {{ dict.TFTClimb }}</li>
                            <li>Area: {{ dict.TFTArea }}</li>
                            <li>Last Report: {{ dict.TFTRepor }}</li>
                        </ul>

                    </div>
                </div>
                {% endfor %}
            {% endif %}

            {% if MTBP %}
                {% for dict in MTBP %}
                <div class="col-md-3 col-centered accentColor">
                    <h2 class="lightColor bold">{{ dict.MName }}</h2>
                    <p class="greyColor">{{ dict.MDesc }}</p>
                    <a class="greyColor viewmore">...</a>
                    <h3 class="statsTitle greyColor">Trail Stats</h3>
                    <ul>
                        <li>Length: {{ dict.MLen }}}</li>
                        <li>Descent: {{ dict.MDescent }}</li>
                        <li>Ascent: {{ dict.MAscent }}</li>
                        <li>High Elevation: {{ dict.MHelev }}</li>
                        <li>Low Elevation: {{ dict.MLelev }}</li>
                        <li>Average Grade: {{ dict.MAGr }}</li>
                        <li>Max Grade: {{ dict.MMGr }}</li>
                        <li>Maintainer: {{ dict.MORgs }}</li>


                    </ul>
                    <a class="greyColor viewmore">view more</a>
                    <a href="{{dict.url}}" class="btn btn-default accentBack lightColor bold">MTB Project</a>

                    <div class="moreInfo col-lg-12">
                        <h2 class="lightColor bold">{{ dict.MName }}</h2>
                        <p class="greyColor">{{ dict.MDesc }}</p>
                        <h3 class="statsTitle lightColor">Trail Stats</h3>
                        <ul class="greyColor">
                            <li>Length: {{ dict.MLen }}}</li>
                            <li>Descent: {{ dict.MDescent }}</li>
                            <li>Ascent: {{ dict.MAscent }}</li>
                            <li>High Elevation: {{ dict.MHelev }}</li>
                            <li>Low Eleveation: {{ dict.MLelev }}</li>
                            <li>Average Grade: {{ dict.MAGr }}</li>
                            <li>Max Grade: {{ dict.MMGr }}</li>
                            <li>Maintainers: {{ dict.MORgs }}</li>


                        </ul>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% if TFA %}
                {% for dict in TFA %}
                <div class="col-md-3 col-centered accentColor">
                    <h2 class="lightColor bold">{{ dict.Riding_Area }}</h2>
                    <p class="greyColor">{{ dict.TFADesc }}</p>
                    <a class="greyColor viewmore">...</a>
                    <h3 class="statsTitle greyColor">Trail Stats</h3>
                    <ul>
                        <li>Difficulty: {{ dict.TFADiff }}</li>
                        <li>Length: {{ dict.TFALen }}</li>
                        <li>Number of trails: {{ dict.TFANum }}</li>
                        <li>Vertical Change: {{ dict.TFAVert }}</li>
                        <li>Maintainers: {{ dict.TFAGroup }}</li>


                    </ul>
                    <a class="greyColor viewmore">view more</a>
                    <a href="{{ dict.url }}" class="btn btn-default accentBack lightColor bold">TrailForks</a>

                </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>



            <script>

                (function(){
                   var viewMoreButtons = document.getElementsByClassName("viewmore");
                   for(var i = 0; i<viewMoreButtons.length; i++){
                       viewMoreButtons[i].isShown = false;
                       console.log(viewMoreButtons[i]);
                       viewMoreButtons[i].onclick = function(e){
                           var parent = this.parentNode;
                           //console.log(parent)
                           var moreInfo = parent.getElementsByClassName("moreInfo")[0];
                           moreInfo.button = this;

                           if(this.isShown){
                               moreInfo.style.visibility = "hidden";
                               moreInfo.style.opacity = 0;
                           }
                           else{
                               moreInfo.style.visibility = "visible";
                               moreInfo.style.opacity = 1;
                           }
                           this.isShown = !this.isShown;
                       }
                   }

                   var moreInfos = document.getElementsByClassName("moreInfo");
                    for(var x = 0; x<moreInfos.length; x++){
                        moreInfos[x].onclick = function(){
                            this.button.isShown = false;
                            this.style.visibility = "hidden";
                            this.style.opacity = 0;
                        }
                    }
                })();

            </script>
{% endblock %}